*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(31, 138, 181),rgb(31, 138, 181), rgb(184, 184, 92));
}
.container-fluid{
    width: 70%;
    height: 80%;
    background-color: aliceblue;
    border: 2px solid black;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 20px
    ;

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    width: 80%;
    margin: 20px;
    color: rgb(39, 193, 141);
}
.nav h1{
    text-transform: uppercase;
    font-weight: 900;
}
.nav .links{
    display: flex;
    gap: 35px;
}
.links a{
    text-decoration: none;
    color:  rgb(39, 193, 141);
    font-weight: 700;
    font-size: 15px;
    font-family: "Robot",sans-serif;
}
.links a:hover{
color: rgb(6, 243, 164);
}
.left-side{
    width: 50%;

    
}
.left-side h3{
    text-align: left;
    justify-content:baseline;
    gap: 20px;
    margin-left: 50px;
    font-family: "Roboto",sans-serif;
}
.left-side h1{
    color: rgb(39, 193, 141) ;
    margin-top: 20px;
    margin-left: 50px;
    font-family: "roboto",sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.left-side h4{
    color: #10a2e6f0;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: "roboto",sans-serif;
    font-weight: 500;
}
.left-side p{
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: "roboto",sans-serif;
    font-weight: 500;
    word-spacing: 5px;
}

.right-side img{
 width: 300px;
 height: 300px;
 float: right;
 
 /* border: 7px ridge blue;  */
}

button {
    padding: 12px 32px;
    background-color: rgb(39, 193, 141);
    color: #fff;
    border-radius: 100px;
    margin-left: 15%;
    margin-top: 20px;
    font-weight: 500;
    word-spacing: 5px;
    text-transform: uppercase;

}
button:hover{
    border: 1.5px solid rgb(47, 216, 222);
}